/* Basic settings */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --color-white: #ffffff;
  --color-for-interactive-elements: #404bbf;
  --secondary-background-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
  --subtle-text: #8e8f99;
  --success: #31d0aa;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Components */

body {
  color: var(--primary-text-color);
  background-color: var(--color-white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Section general settings */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.sub-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

/* header */

.header {
  border-bottom: 1px solid var(--cornflower-color);
  min-width: 320px;
}

.site-nav,
.address {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    gap: 40px;
  }
  .address {
    display: block;
  }
}

/* logo */

.logo {
  display: block;
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 77px;
  }
}

.logo-color {
  color: var(--accent-color);
}

/* Site navigation */

@media screen and (max-width: 767px) {
  .header-items {
    height: 70px;
  }
}

.header-items {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav-link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  display: inline-block;
  padding: 24px 0;

  transition: color 250ms var(--cubic);
}

.site-nav-link:is(:hover, :focus) {
  color: var(--color-for-interactive-elements);
}

.active-underline {
  color: var(--color-for-interactive-elements);
}

.active-underline::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-for-interactive-elements);
}

/* Address */

.address {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: flex;
    gap: 40px;
  }
}

.address-link {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}

@media screen and (min-width: 1200px) {
  .address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.address-link:is(:hover, :focus) {
  color: var(--accent-color);
}

/* Hero */

/* mobile-bg */

.hero {
  min-width: 320px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/mobile/mobile-bg.jpg);

  background-color: var(--title-text-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/mobile/mobile-bg@2x.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3),
  screen and (max-width: 767px) and (min-resolution: 288dpi),
  screen and (max-width: 767px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/mobile/mobile-bg@3x.jpg);
  }
}

/* tablet-bg */

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/tablet/tablet-bg.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/tablet/tablet-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 768px) and (min-resolution: 288dpi),
  screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/tablet/tablet-bg@3x.jpg);
  }
}

/* desktop-bg */

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/desktop/desktop-bg.jpg);

    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/desktop/desktop-bg@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 1200px) and (min-resolution: 288dpi),
  screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/desktop/desktop-bg@3x.jpg);
  }
}

.hero-title {
  max-width: 318px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  color: var(--color-white);
  font-size: 36px;
  line-height: 1.11;
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 494px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

/* benefits content */
@media screen and (min-width: 1200px) {
  .company-benefits {
    padding-bottom: 0;
  }
}

.company-benefits-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .company-benefits-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .company-benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1199px) {
  .company-benefits-text {
    font-weight: 500;
  }
}

.company-benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .company-benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .company-benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .company-benefits-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.benefits-icon-box {
  display: none;
}

@media screen and (min-width: 1200px) {
  .benefits-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--secondary-background-color);
  }
}

/* products content */

.company-products {
  display: none;
}

@media screen and (min-width: 1200px) {
  .company-products {
    display: block;
  }
}

.company-products .section-title {
  margin-bottom: 72px;
}

.company-products-list {
  display: flex;
  gap: 24px;
}

/* Owr team */

.owr-team {
  background-color: var(--secondary-background-color);
  min-width: 320px;
}

.owr-team .section-title {
  margin-bottom: 72px;
}

.owr-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.owr-team-item {
  max-width: 264px;
}

@media screen and (min-width: 768px) {
  .owr-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  .owr-team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .owr-team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.team-border {
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.owr-team-title {
  margin-bottom: 8px;
}

.owr-team-text {
  margin-bottom: 8px;
}

.team-social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);
}

.team-social-media-link:is(:hover, :focus) {
  background-color: var(--color-for-interactive-elements);
}

.team-social-media-icon {
  fill: var(--secondary-background-color);
}

/* Customers */

@media screen and (min-width: 768px) {
  .customers-container {
    width: 552px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers-container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.customers .section-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  height: 88px;
  width: 100%;

  transition: border-color 250ms var(--cubic);
}

.customers-link:is(:hover, :focus) {
  border-color: var(--accent-color);
}

.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--accent-color);
}

.customers-icon {
  fill: var(--subtle-text);

  transition: fill 250ms var(--cubic);
}

/* Portfolio */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 72px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    row-gap: 48px;
  }

   .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-link {
  display: inline-block;
  transition: box-shadow 250ms var(--cubic);
}

.portfolio-link:is(:hover, :focus) {
  display: inline-block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  color: var(--secondary-background-color);
  background-color: rgb(77, 90, 229, 0.9);
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  overflow: auto;
  transition: transform 250ms var(--cubic);
}

.portfolio-link:is(:hover, :focus) .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--primary-text-color);
}

.portfolio-border {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

/* Button */

.button {
  display: inline-block;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;

  transition: background-color 250ms var(--cubic);
}

.button.hero-btn {
  padding: 16px 32px;
  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  border-radius: 4px;
}

.button.hero-btn:is(:hover, :focus) {
  background-color: var(--color-for-interactive-elements);
}

.button.filter-btn {
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-color: var(--cornflower-color);
  border-radius: 4px;

  transition: color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

@media screen and (min-width: 768px) {
  .button.filter-btn {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
  }
}

.button.filter-btn:is(:hover, :focus) {
  color: var(--color-white);
  background-color: var(--color-for-interactive-elements);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.foter-subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  color: var(--color-white);
  background-color: var(--accent-color);
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;

  transition: background-color 2500ms var(--cubic);
}

.foter-subscribe-btn:is(:hover, :focus) {
  background-color: var(--color-for-interactive-elements);
}

/* Footer */

@media screen and (min-width: 768px) {
  .container.footer-content {
    max-width: 552px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container.footer-content {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer {
  min-width: 320px;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;

  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    align-items: baseline;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo-box {
    margin-right: 120px;
  }
}

.footer .logo {
  margin-right: 0;
  margin-bottom: 16px;
  color: var(--secondary-background-color);
}

.footer-text {
  max-width: 268px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower-color);
}

@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-media-box {
    margin-right: 80px;
  }
}

.footer-social-media-text {
  color: var(--color-white);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-media-item {
  width: 40px;
}

.footer-social-media-link {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);
}

.footer-social-media-icon {
  fill: var(--secondary-background-color);
}

.footer-social-media-link:is(:hover, :focus) {
  background-color: var(--success);
}

/* footer-form */

.footer-form-text {
  color: var(--color-white);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-form input {
  margin-bottom: 16px;
  padding: 8px 16px;

  width: 100%;
  height: 40px;

  background-color: var(--title-text-color);
  color: var(--secondary-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .footer-form input {
    margin-right: 24px;
    min-width: 264px;
    margin-bottom: 0;
  }

  .foter-subscribe-form {
    display: flex;
  }
}

.footer-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

/* Backdrop + Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: visibility 250ms var(--cubic), opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  width: 408px;
  transform: translate(-50%, -50%) scaleY(1);
  opacity: 1;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
  opacity: 0;
}

@media screen and (max-width: 427px) {
  .modal {
    width: 90%;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 24px;
  height: 24px;
  background: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.modal-close-btn:is(:hover, :focus) {
  background: var(--color-for-interactive-elements);
  fill: var(--color-white);
}

.modal-title-text {
  margin-bottom: 14px;

  text-align: center;
  font-weight: 500;
  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input-label {
  color: var(--subtle-text);

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  padding: 8px 16px 8px 36px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms var(--cubic);
}

.modal-input-icon {
  position: absolute;

  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill 250ms var(--cubic);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-text-area {
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  transition: border-color 250ms var(--cubic);
}

.modal-text-area::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text-area:focus {
  border-color: var(--accent-color);
}

.modal-checkbox-wrap {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
}

.modal-checkbox-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.privacy-policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.privacy-policy-link {
  color: var(--accent-color);
}

.modal-checkbox:checked + .modal-checkbox-label .modal-checkbox-icon-wrap {
  background-color: var(--accent-color);
  border: none;
  fill: var(--color-white);
}

.modal-submit-btn {
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--color-white);

  transition: background-color 250ms var(--cubic);
}

.modal-submit-btn:is(:focus, :hover) {
  background-color: var(--color-for-interactive-elements);
}

/* Mobile menu */

.backdrop-mobile-menu {
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-white);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-100%);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic),
    transform 250ms var(--cubic);
}

.backdrop-mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .backdrop-mobile-menu {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.open-mobile-button-menu {
  margin-left: auto;
  border: none;
  background-color: transparent;
  line-height: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .open-mobile-button-menu {
    display: none;
  }
}

.open-mobile-button-menu-icon {
  stroke: var(--title-text-color);
}

.close-mobile-button-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 24px;
  height: 24px;
  background: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-mobile-button-menu:is(:hover, :focus) {
  background-color: var(--color-for-interactive-elements);
  fill: var(--color-white);
}

.nav-mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.nav-mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.current-mobile {
  color: var(--color-for-interactive-elements);
}

.address-mobile {
  margin-top: auto;
  margin-bottom: 48px;
}

.address-mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.address-mobile-menu-tel {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.11;
  color: var(--accent-color);
}

.address-mobile-menu-email {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu-social-media-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 428px) {
  .mobile-menu-social-media-list {
    gap: 56px;
    justify-content: start;
  }

  .address-mobile-menu-tel {
    font-size: 36px;
  }
}

.mobile-menu-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-menu-social-media-icon {
  fill: #ffffff;
}
